.searchContainer{
    background-color: coral;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchPetTitle{
    padding-top: 10px;
    color: white;
    font-weight: bold;
}

.searchPetContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.buttonSearchPet{
    font-size: small;
    border: none;
    border-radius: 5px;
    background-color: rgb(19, 155, 26);
    color: white;
    cursor: pointer;
    height: 29px;
    margin: 5px;
}

.searchPetPictureContainer{
    padding-top: 20px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
}